.home-header {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    >div {
        flex: 1;
        height: 70px;
        &:hover{
            cursor: pointer;
            
        }
    }
	.logo{
		background-color: #ddc092;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.main-logo {
			padding-left: 12px;
			color: #ddc092;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.home-hotline{
			align-self: center;
			margin-left: 20px;
			text-transform: uppercase;
			h2{
				font-size: 14px;
			}
			p{
				font-size: 22px;
				color: #d10914;
				font-weight: bold;
			}
		}
	}
    .menu-header-btns{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #ddc092;
		padding-right: 30px;
	}
    .menu-header {
        background-color: #ddc092;
        align-content: center;
        text-align: center;
        /* border-left: 1px solid black;
        border-right: 1px solid black; */
        &.active{
            color: #d10914;
	        font-weight: bold;
        }
		.menu-header-name{
			text-transform: uppercase;
			font-weight: bold;
			&:hover{
				cursor: pointer;
				text-decoration: underline;
				color: #d10914;
			}
		}
    }
    .log-out {
        align-content: center;
        text-align: center;
		text-transform: uppercase;
			font-weight: bold;
			&:hover{
				cursor: pointer;
				text-decoration: underline;
				color: #d10914;
			}
    }
    .logo {
        position: relative;
    }
    
}