.container {
	height: 100vh;
	display: flex;
	align-items: center;

	.form {
		width: 50%;
		padding: 0px 100px;
	}
	.image {
		width: 50%;
		height: calc(100% - 20px);
		img {
			width: 100%;
			height: 100%;
			padding: 16px;
			border-radius: 36px;
		}
	}
}

.form {
	.login-form {
		margin-top: 40px;
		button {
			background: #ddc092;
			color: #000;
		}

		button:hover {
			background: #99ea85 !important;
		}

		.ant-checkbox-checked .ant-checkbox-inner{
			background-color: #a1dd92;
    		border-color: #a1dd92;
		}

		.ant-form-item-row{
			display: flex;
			gap:10px;
		}

		.ant-form-item-label{
			width: 100px;
		}
	}
	
    .login-footer{
        margin-top: 12px;
		a{
			color: #000;
			text-decoration: none;
			p:hover{
				cursor: pointer;
				color: blue;
				text-decoration: underline;
			}
		}
    }

	.login-crediental{
		padding-top: 100px;
	}
}

.ant-input-outlined {
	margin: 8px 0;
	.ant-input-prefix {
		margin-inline-end: 12px;
	}
}
