.receipt-container {
	width: 60%;
	min-height: calc(100vh - 270px);
	margin: auto;
    font-family: "IBM Plex Sans", sans-serif;
	.receipt {
		margin-top: 30px;
	}
	.total {
		color: #046327;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 30px;
	}
}